@import url(http://fonts.googleapis.com/css?family=Merriweather:400italic,400,700|Merriweather+Sans:400,700);

body {
  font-family: 'Merriweather', Georgia, serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  font-family: 'Merriweather Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.navbar-default {
  font-family: 'Merriweather Sans', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
