<% btn  = btn  || 'btn' %>
<% id   = id   || nil %>
<% text = text || 'Email Me' %>

<a href="<%= data.urls.work_with_us %>"
    class="<%= btn %>"
    <% if id %>
      id="<%= id %>"
    <% end %>
    target="_blank"
  >
  <%= text %>
</a>
