<%# Home > Welcome %>

<% hero = capture do %>
  <h1>Anna Suprunenko</h1>
  <h2 class="title--subheading">Watercolor Illustrations and Surface Design</h2>
<% end %>
<%= macro_hero(
    image: asset_url("images/backgrounds/bg-apple.jpg"),
    theme: "theme--dark"
  ) { hero } %>
