<script data-template-projects type="text">
  {{#posts}}
    <article class="b-project-preview" id="project-{{slug}}">

      <a href="{{path}}"
          style="
            background-image: url('{{thumbnail}}');
            background-color: {{color_string}};">
        <div
          class="content-wrap"
          data-wow-delay="0.3s"
          data-wow-offset="100">

          <div class="content">
            <div class="logo__project">
              <h1>{{title}}</h1>
            </div>
            <h2>{{description}}</h2>
          </div>

        </div>
      </a>

    </article>
  {{/posts}}
</script>
