// Typefaces

$typeface-sans:  Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
$typeface-serif: Georgia, Cambria, "Times New Roman", Times, serif;

$bold-weight: 800;

$body-copy-color: inherit;
$heading-color: inherit;
