---
title: "Projects"
long_title: "Portfolio"
tagline: ""
---

<div class="b-section--basic-header">
  <h1>
    Projects
  </h1>
  <h2>
    <%= current_page.data.tagline %>
  </h2>
</div>

<section class="s-projects">
  <% projects = [
      "Broccoli",
      "Summertime Dream",
      "Garlic",
      "Bookmarks",
      "Koi Fish"
  ] %>
  <% projects.each do |project| %>
    <%= component "project-preview",
          item: find_project_by_title(project) %>
  <% end %>
</section>

<%= partial "partials/cta_section", locals: { text: "Looking for professional to create unique hand-drawn illustrations?" } %>
